<section id="OpeningHours">
    <h1>Hours</h1>
    <ol>
        {% for day in site.data.opening_hours %}
        {% assign text = day[1].text %}
        {% assign open = day[1].open %}
        {% assign close = day[1].close %}
        <li>
            {% if open and close %}
            <meta itemprop="openingHours" content="{{ day[0] | capitalize | truncate: 2, "" }} {{ day[1].open }}-{{ day[1].close }}" />
            {% endif %}
            <span>{{ day[0] | capitalize }}</span>
            <span>
                {% if open and close %}
                {{ day[1].open | date: site.time_format | strip }}&ndash;{{ day[1].close | date: site.time_format | strip }}
                {% else %}
                {{ text }}
                {% endif %}
            </span>
        </li>
        {% endfor %}
    </ol>
</section>
